<div class="w-full">
  {% block top %}
    {% include "@utilities/_placeholder.twig" with {
      "placeholder" : {
        "text": "top"
      }
    } only %}
  {% endblock %}
</div>
<div class="{{ bottom_classes|join(' ') }} w-full">
  {% block bottom_first %}
    {% include "@utilities/_placeholder.twig" with {
      "placeholder" : {
        "text": "bottom first"
      }
    } only %}
  {% endblock %}
  {% block bottom_second %}
    {% include "@utilities/_placeholder.twig" with {
      "placeholder" : {
        "text": "bottom second"
      }
    } only %}
  {% endblock %}
</div>