<div class="flex flex-col md:flex-row">
    {% set main_classes = main_classes|default([
      "flex",
      "flex-col",
      "md:w-3/4",
      "px-2"
      ])
    %}
    <section class="{{ main_classes|join(' ') }}">
      {% block main %}
        {% include "@utilities/_placeholder.twig" with {
          "placeholder": {
            "text": "main"
          }
        } only %}
      {% endblock %}
    </section>
    {% set sidebar_classes = sidebar_classes|default([
      "flex",
      "flex-col",
      "md:w-1/4",
      "px-2",
      ])
    %}
    <aside class="{{ sidebar_classes|join(' ') }}">
      {% block sidebar %}
        {% include "@utilities/_placeholder.twig" with {
          "placeholder": {
            "text": "sidebar"
          }
        } only %}
      {% endblock %}
    </aside>
</div>
